<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="assets/app.css">
    <title>Document</title>
</head>

<body ng-app="MyApp" layout="column" ng-controller="UserController as ul">
    <md-toolbar layout="row">
        <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>Angular Material - Starter App</h1>
    </md-toolbar>

    <div class="container" layout="row" flex>
        <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">
            <md-list>
                <md-list-item ng-repeat="u in ul.users">
                    <md-button ng-click="ul.selectUser(u)" ng-class="{'selected' : it === ul.selected }">
                        <md-icon md-svg-icon="{{u.avatar}}" class="avatar"></md-icon>
                        {{u.name}}
                    </md-button>
                </md-list-item>

            </md-list>
        </md-sidenav>
        <md-content id="content" flex>
            <md-icon md-svg-src="{{ul.selected.avatar}}"></md-icon>
            <h2>{{ul.selected.name}}</h2>
            <p>{{ul.selected.content}}</p>

            <md-button class="share" md-no-ink ng-click="ul.makeContact(ul.selected)" aria-label="Share with {{ul.selected.name}}">
                <md-icon md-svg-icon="share"></md-icon>
            </md-button>


            <div layout="column" ng-cloak class="md-form">
                <div>
                    <md-input-container>
                        <label>名称</label>
                        <input ng-model="ul.name">
                    </md-input-container>

                    <md-input-container>
                        <label>备注</label>
                        <input ng-model="ul.content" type="text">
                    </md-input-container>
                </div>

                <div>
                    <md-button type="submit" ng-click="ul.addUser();">Submit</md-button>
                </div>

            </div>


        </md-content>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>

    <script src="./users/users.module.js"></script>
    <script src="./users/users.controller.js"></script>
    <script src="./users/users.service.js"></script>

    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="app.config.js"></script>
</body>

</html>